
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Admin Kayıt Ekranı | MVC Proje Kampı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/login-form-19/css/style.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/login-form-19/images/bg.jpg);"></div>
                        <h3 class="text-center mb-0">HOŞ GELDİNİZ</h3>
                        <p class="text-center">Lütfen bilgilerinizi ilgili alanlara giriniz.</p>
                        @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                        {
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" name="AdminUsername" placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" name="AdminPassword" placeholder="Şifre" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3 swalDefaultError">Kayıt Ol</button>
                            </div>
                        }
                        <div class="w-100 text-center mt-4 text">
                            Hesabınız Var Mı?
                            <a href="/Login/Index/"> Giriş Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/login-form-19/js/jquery.min.js"></script>
    <script src="~/login-form-19/js/popper.js"></script>
    <script src="~/login-form-19/js/bootstrap.min.js"></script>
    <script src="~/login-form-19/js/main.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/sweetalert2/sweetalert2.min.js"></script>
</body>
</html>

@if (TempData["LoginError"] != null)
{
    <script>
        Swal.fire({
            position: "top-end",
                icon: 'error',
                title: 'Hata!',
                text: '@TempData["LoginError"]',
                timer: 3000,
                showConfirmButton: false
            }).then(() => {
                window.location.href = '@Url.Action("Index", "Login")';
            });
    </script>
}