<div class="modal" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hakkımızda Yazı Girişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <textarea name="AboutDetail1" class="form-control"></textarea>
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <textarea name="AboutDetail2" class="form-control"></textarea>
                    <br />
                    <label>Hakkımda Görsel 1</label>
                    <input name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input name="AboutImage2" class="form-control" />
                    <br />
                </div>

                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>