@using EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Hakkımızda İşlemleri</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin Paneli</a></li>
                    <li class="breadcrumb-item active">Hakkımızda İşlemleri</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex align-items-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
            Yeni Hakkımızda Yazı Girişi
        </button>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Hakkımda Yazısı 1</th>
                    <th>Hakkımda Yazısı 2</th>
                    <th>Hakkımda Görsel 1</th>
                    <th>Hakkımda Görsel 2</th>
                    <th>Seçenekler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.AboutDetail1</th>
                        <th>@item.AboutDetail2</th>
                        <th>@item.AboutImage1</th>
                        <th>@item.AboutImage2</th>
                        <td>
                            <a class="btn btn-success" href="#">Aktif Yap</a>
                            <a class="btn btn-danger" href="#">Pasif Yap</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Hakkımızda Yazı Girişi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkımda Metin 1</label>
                    <textarea name="AboutDetail1" class="form-control"></textarea>
                    <br />
                    <label>Hakkımda Metin 2</label>
                    <textarea name="AboutDetail2" class="form-control"></textarea>
                    <br />
                    <label>Hakkımda Görsel 1</label>
                    <input name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkımda Görsel 2</label>
                    <input name="AboutImage2" class="form-control" />
                    <br />
                </div>

                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                    <button class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>